
/* App.css */

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  
  .page-item {
    margin: 0 4px;
  }
  
  .page-link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .page-link:hover {
    background-color: #e9ecef;
  }
  
  .active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }

  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  